.web-body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.inspiration-text {
    margin: 15px;
    padding: 0;
    position: absolute;
}

.position-animated-div {
    height: 150px;
    width: 550px;
    position: absolute;
}

#firstInspiration {
    top: 23em;
    left: 44em;
}

#secondInsiration {
    top: 40em;
    right: 15em;
}

#thirdInspiration {
    top: 40em;
    left: 15em;
}

p {
    color: white;
    position: absolute;
}

#inspiration-heading {
    position: absolute;
    margin: 0;
    left: 5.5em;
    top: 1em;
    font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
    color: #fff;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

* {
    box-sizing: border-box;
}

.zoom {
    padding: 0px;
    margin: 0px;
    /*background-color: green;*/
    transition: transform .2s;
    height: 150px;
    width: 550px;
    margin: 0 auto;
    border: 1px solid white;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}